@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta os ícones de incremento e decremento em inputs do tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
    margin: 0; /* Remove margens */
}

input[type="number"] {
    -moz-appearance: textfield; /* Remove o estilo padrão no Firefox */
}